<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="main">

  <div class="w3-row-padding">
    <div class="w3-threequarter" style="cursor:pointer">
      <div class="w3-display-container w3-padding-16">
        <a href="index.html">
          <img id="titlepic" class="w3-hover-opacity" src="resources/images/Ikaram.png" alt="Ikaram" title="Photo by Jonas Feige" style="width:100%"/>
        </a>
      </div>
    </div>
    <div class="w3-quarter" style="padding-top:15px">
      <div class="w3-container w3-blue" style="padding:15px;">
        <h3 class="w3-center w3-margin">Abesabesi</h3>
        <hr/>
        <table class="w3-table">
          <tr class="w3-hover-white">
            <td>Other Names</td>
            <td>Akpes</td>
          </tr>
          <tr class="w3-hover-white">
            <td>Speakers</td>
            <td>7,000</td>
          </tr>
          <tr class="w3-hover-white">
            <td>Status (EGIDS)</td>
            <td>
              <a href="grammar-entry.html?section=ch1-sc1-6">7 (Shifting)</a>
            </td>
          </tr>
          <tr class="w3-hover-white">
            <td>Location</td>
            <td>
              <a href="https://www.google.de/maps/@7.6316983,5.8948493,13.04z">Nigeria</a>
            </td>
          </tr>
          <tr class="w3-hover-white">
            <td>ISO 639-3</td>
            <td>
              <a href="https://www.ethnologue.com/language/ibe">ibe</a>
            </td>
          </tr>
          <tr class="w3-hover-white">
            <td>Glottocode</td>
            <td>
              <a href="http://glottolog.org/resource/languoid/id/akpe1248">akpe1248</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="w3-row-padding">

    <div class="w3-quarter" style="cursor:pointer">
      <a href="toc.html">
        <div class="w3-container w3-red w3-padding-16 w3-hover-opacity">
          <div class="w3-left">
            <i class="fa fa-book w3-xxxlarge"/>
          </div>
          <div class="w3-right">
            <h3>Content</h3>
          </div>
        </div>
      </a>
    </div>


    <div class="w3-quarter" style="cursor:pointer">
      <a href="index-list.html">
        <div class="w3-container w3-blue w3-padding-16 w3-hover-opacity" onclick="openTab('inner-content-index')">
          <div class="w3-left">
            <i class="fa fa-list w3-xxxlarge"/>
          </div>
          <div class="w3-right">
            <h3>Index</h3>
          </div>
        </div>
      </a>
    </div>


    <div class="w3-quarter" style="cursor:pointer">
      <a href="language.html">
        <div class="w3-container w3-teal w3-padding-16 w3-hover-opacity">

          <div class="w3-left">
            <i class="fa fa-comments w3-xxxlarge"/>
          </div>
          <div class="w3-right">
            <h3>Language</h3>
          </div>

        </div>
      </a>
    </div>


    <div class="w3-quarter" style="cursor:pointer">
      <a href="ikaram.html">
        <div class="w3-container w3-orange w3-text-white w3-padding-16 w3-hover-opacity">

          <div class="w3-left">
            <i class="fa fa-users w3-xxxlarge"/>
          </div>
          <div class="w3-right">
            <h3>Ikaram</h3>

          </div>

        </div>
      </a>
    </div>

  </div>


  <div id="inner-content" class="tab w3-panel"/>



  <!-- End page content -->

  <!-- Footer -->
  <footer class="w3-container w3-padding w3-light-grey">
    <div class="w3-row">
      <div class="w3-col" style="width:110px; padding:8px 16px 8px 0px"> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                    <img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"/>
                </a> </div>
      <div class="w3-rest">The Abesabesi Grammar is edited by Jonas Lau and licensed under a 
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons
          Attribution-NonCommercial-ShareAlike 4.0 International Licence</a>. |  <a href="legal.html" class="intext-button">Legal Notice</a>
            </div> 
    </div>
  </footer>
</div>